div
	if item
		audio(controls)
			source(src="#{item.enclosure.attributes.url}", type="#{item.enclosure.attributes.type}")
			| Your browser does not support the audio element.
		span #{item.description}
		
		ul
			if item['psc:chapters']
				each chapter in item['psc:chapters']['psc:chapter']
					li #{chapter.attributes.start} | #{chapter.attributes.title}
